.cpb-wrap .about-text {
    font-weight: 400;
    line-height: 1.6em;
    font-size: 19px;
    margin-top: -17px;
}
.cpb-changelog-wrap h2 {
    color: #ed008c;
    margin-bottom: 5px;
}
.cpb-changelog-wrap h3 {
    font-size: 15px;
}
.cpb-changelog-wrap ul {
    list-style: circle;
    margin-left: 19px;
}
.cpb-about-wrap h2 {
    color: #ed008c;
}
.cpb-about-wrap ul {
    list-style: circle;
    margin-left: 19px;
}

.cpb-addon-wrap .alert-warning {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.cpb-addon-wrap .alert-info {
    padding: 20px;
    background-color: #2196F3;
    color: white;
}

.cpb-addon-wrap .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.cpb-addon-wrap .closebtn:hover {
    color: black;
}